/* The Basics */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Lobster Two', cursive;
font-family: 'Playfair Display', serif;
*/

.landing-page{
    font-family: 'Lobster Two', cursive;
    min-height: 100vh;
    background: url('./background_is.jpg');
    /* Give image dome fluidity */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Cover the entire */
    background-size: cover;
    /* Top and bottom paddings are 0rem, left and right are 5rem */
}

nav{
    display: flex;
    height: 10vh;
    background: rgba(255, 255, 255, 0.548);
}

.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.heading{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    padding-left: 8%;
    align-items: center;
    color: rgba(165, 6, 165, 0.89);
}

.nav-options{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.nav-options:hover{
    color: rgba(247, 17, 17, 0.623);
}

@media screen and (max-width: 600px) {
    .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    .nav-links{
        position: fixed;
        background-color: rgba(255, 255, 255, 0.548);
        height: 90vh;
        margin-top: 10vh;
        width: 100%;
        flex-direction: column;
        /* display: none; */

        /* Using a mask for the dropdown */
        clip-path: circle(100px at 85% -25%);
        -webkit-clip-path: circle(100px at 85% -25%);
        transition: all 0.5s ease-out;

        /* Non clickable when closed */
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1000px at 85% -25%);
        -webkit-clip-path: circle(1000px at 85% -25%);
        pointer-events: all;
    }

    .nav-links li{
        opacity: 0;
    }

    .nav-options{
        font-size: 2.0rem;
    }

    .nav-links li:nth-child(1){
        /* property, time, timing, delay */
        transition: all 0.5s ease-in 0.1s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease-in 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease-in 0.3s;
    }
    .nav-links li.fade{
        opacity: 1;
    }
}