@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
body {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin: 0;
  background: #6D6027;
  background: -webkit-linear-gradient(left, #D3CBB8, #6D6027);
  background: -o-linear-gradient(left, #D3CBB8, #6D6027);
  background: linear-gradient(to right, #D3CBB8, #6D6027);
}
@media (max-width: 767px) {
  body {
    display: block;
  }
}

.card-img-top{
    display: block;
    width: 80%;
    padding-top: 5px;
}

.expanded{
    display: none;
}