/* Put the universal style to border box */
/* The universal selector ("*") doesn't includes the before and after styles
    need to add them separately  */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #c31;
  margin-top: 1.5rem;
}

.main-heading {
  position: relative;
  display: inline-block;
}

.main-heading::before, .main-heading::after {
  content: '';
  height: 100%;
  display: block;
  position: absolute;
}

.main-heading::before {
  background: white;
  z-index: -1;
  left: -20px;
  right: -20px;
}

.main-heading::after {
  background: lightcoral;
  width: 100vw;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -2;
}

.img-deco {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-deco .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px 10px;
}

.img-deco .card::before, .img-deco .card::after {
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  right: 1.25em;
  left: 1.25em;
}

.img-deco .card::before {
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.img-deco .card::after {
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform ease-out 250ms;
  transition: -webkit-transform ease-out 250ms;
  transition: transform ease-out 250ms;
  transition: transform ease-out 250ms, -webkit-transform ease-out 250ms;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.img-deco .card:hover::before {
  -webkit-transform: scale(1.05, 1);
          transform: scale(1.05, 1);
}

.img-deco .card:hover::after {
  -webkit-transform: scale(1, 1.05);
          transform: scale(1, 1.05);
}

.img-deco .card img {
  display: block;
  width: 100%;
}

.img-deco .card .card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 0;
  -webkit-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms;
}

.img-deco .card:hover .card__text {
  opacity: 1;
  background: rgba(0, 0, 0, 0.342);
}
/*# sourceMappingURL=before_after.css.map */